section {
  text-align: center;
  position: relative;
  .watch {
    width: 500px;
  }
  .bg {
    position: absolute;
    top: 180px;
    left: 826px;
    width: 264px;
    height: 316px;
    border-radius: 56px;
    border: 1px solid #aaaaaa;
    background-color: #3c3c3c;
  }
  .time {
    z-index: 999;
    position: absolute;
    top: 150px;
    left: 888px;
    font-size: 70px;
    color: #fff;
    font-weight: 600;
  }
  .walpaper {
    position: absolute;
    z-index: 100;
    top: 194px;
    left: 839px;
    width: 240px;
    height: 290px;
    border-radius: 30px;
  }
  .time1 {
    z-index: 999;
    position: absolute;
    top: 280px;
    left: 948px;
    font-size: 34px;
    color: #ff0000;
    font-weight: 400;
  }
  .watchText {
    z-index: 999;
    position: absolute;
    top: 600px;
    left: 908px;
    font-size: 40px;
    color: #000000;
    font-weight: 600;
  }
}
